@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --font-open-sans: "Open Sans";
    --font-karla: "Karla";
    --lavender: #DDDBF1;
    --dark-lavender: #c7c3f7;
    --dusk-blue: #3C4F76;
    --charcoal-blue: #383F51;
    --cinnabar: #F24333;
    --gradient: linear-gradient(to bottom, #F4F6F4, #f0f3f0);
    --white-smoke: #F4F6F4;
    --alabaster-gray: #f0f3f0;
    --burnt-umber: #930000;
    --sky-blue: #9ED0E5;
    --shadow: #4e89a2;

    /* updated colors below */
    /* CSS HEX */
    --ink-black: #001219ff;
    --dark-teal: #005f73ff;
    --dark-cyan: #0a9396ff;
    --pearl-aqua: #94d2bdff;
    --vanilla-custard: #e9d8a6ff;
    --golden-orange: #ee9b00ff;
    --burnt-caramel: #ca6702ff;
    --rusty-spice: #bb3e03ff;
    --oxidized-iron: #ae2012ff;
    --brown-red: #9b2226ff;

    /* CSS HSL */
    /* CSS Neutral */
    --prussian-blue: hsla(225, 59%, 11%, 1);
    --space-indigo: hsla(224, 27%, 19%, 1);
    --charcoal-blue: hsla(227, 16%, 28%, 1);
    --charcoal: hsla(227, 9%, 37%, 1);
    --dim-grey: hsla(231, 6%, 46%, 1);
    --rosy-granite: hsla(240, 4%, 55%, 1);
    --pale-slate: hsla(260, 3%, 64%, 0.8);
    --silver: hsla(320, 2%, 73%, 1);
    --dust-grey: hsla(0, 5%, 82%, 1);
    --parchment: hsla(24, 22%, 91%, 1);

    /* CSS HSL */
    /* Dark Teal Gradient */
    --dark-teal: hsla(190, 100%, 23%, 1);
    --stormy-teal: hsla(190, 66%, 30%, 1);
    --teal: hsla(190, 45%, 38%, 1);
    --pacific-cyan: hsla(190, 32%, 45%, 1);
    --pacific-blue: hsla(190, 25%, 53%, 1);
    --cool-steel: hsla(188, 22%, 61%, 1);
    --ash-grey: hsla(188, 20%, 68%, 1);
    --ash-grey-2: hsla(183, 15%, 76%, 1);
    --alabaster-grey: hsla(168, 6%, 84%, 1);
    --parchment: hsla(24, 22%, 91%, .85);
    --off-white: #FDFDFF;


    /* CSS HSL */
    --steel-blue: hsla(208, 48%, 47%, 1);
    --dusty-denim: hsla(208, 43%, 53%, 1);
    --blue-grey: hsla(207, 42%, 58%, 0.95);
    --blue-grey-header: hsla(207 42% 58% / 0.8);
    --sky-reflection: hsla(208, 43%, 65%, 1);
    --powder-blue: hsla(209, 43%, 70%, 1);
    --powder-blue-2: hsla(208, 43%, 76%, 1);
    --pale-sky: hsla(209, 43%, 82%, 1);
    --alice-blue: hsla(211, 44%, 88%, 1);
    --alice-blue-2: hsla(210, 44%, 94%, 1);
    --white: hsla(240, 100%, 100%, 1);


    /* update colors below */
    --color-primary: hsl(214, 50%, 90%);
    --color-header: hsl(214, 50%, 85%);
    --card-color: hsl(214, 50%, 95%);
    --header-text: hsl(214, 94%, 98%);
    --color-secondary: hsl(214, 50%, 10%);
    --color-tertiary: hsl(274, 80%, 20%);
    --color-accent: hsl(154, 80%, 20%);
    --charcoal-blue: #383F51;

}

.dark {
    --color-primary: hsl(214, 50%, 10%);
    --color-header: hsl(214, 50%, 35%);
    --header-text: #F2F4F8;
    --color-secondary: hsl(214, 50%, 90%);
    --color-tertiary: hsl(274, 80%, 80%);
    --color-accent: hsl(154, 80%, 80%);
}



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-family: var(--font-karla);
    background-repeat: no-repeat;
    background-color: var(--color-primary);
    color: var(--ink-black);
    border-radius: 30px;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

/* for later
 https://grabient.com/HQFgDAnANMDMYA4YCYwhgVgsmIMZlhAEYYEwdgEiYB2fGCMWKY4ZsKWYYimY2qWAA2WtDbEawDLRBA?angle=0
 
 background: linear-gradient(0deg, #2e3c45 0.000%, #2d454e 3.030%, #2f5057 6.061%, #355d61 9.091%, #3c6b6b 12.121%, #477974 15.152%, #54877d 18.182%, #629585 21.212%, #73a28c 24.242%, #84ad91 27.273%, #96b796 30.303%, #a7bf99 33.333%, #b8c59a 36.364%, #c8c89a 39.394%, #d7c999 42.424%, #e3c796 45.455%, #edc391 48.485%, #f4bc8b 51.515%, #f9b484 54.545%, #faa97c 57.576%, #f99d74 60.606%, #f4906a 63.636%, #ed8261 66.667%, #e37457 69.697%, #d6664e 72.727%, #c85845 75.758%, #b74c3d 78.788%, #a64135 81.818%, #95392f 84.848%, #83322a 87.879%, #722d27 90.909%, #622b25 93.939%, #532c25 96.970%, #462f26 100.000%); */


h1 {
    font-size: 32px;
    font-family: sans-serif;
    font-family: var(--font-open-sans);
    color: var(--ink-black);
    text-align: center;
}

h2 {
    font-size: 26px;
    text-align: center;
}

h3 {
    font-size: 20px;
    font-family: sans-serif;
    font-family: var(--font-open-sans);
    color: var(--color-accent);
    text-align: center;
}

p {
    font-size: 16px;
    font-family: sans-serif;
    font-family: var(--font-karla);
    color: var(--ink-black)
}

img {
    max-width: 250px;
    display: block;
    margin: auto;
}

.centered-figure {
    text-align: center;
}

figcaption {
    font-size: 0.8em;
    font-style: italic;
}

/* figure {
 display: flex;
 justify-content: space-between;
 } */

header {
    background-color: var(--color-header);
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 35px;
}

footer {
    background-color: var(--color-header);
    text-align: center;
    padding: 10px;
    width: 100%;
}

#img-overlay {
    max-width: fit-content;
    height: 600px;
    width: auto;
}

#close-overlay {
    color: var(--white-smoke);
    cursor: pointer;
    margin: 3rem 50%;
}

#overlay {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}


.main-index {
    text-align: center;
    padding: 2rem;
    margin-top: 3rem;
}

a {
    text-decoration: none;
    color: var(--header-text);
}

.team {
    padding-top: 2rem;
}

a:visited {
    text-decoration: none;
    color: var(--charcoal-blue);
}

.navigation {
    background-color: transparent;
    border-radius: 3px;
    padding: 5px;
}

.navigation:hover {
    background-color: var(--color-header);
    border-radius: 3px;
    padding: 5px;
}

.navigation>a:hover {
    color: var(--charcoal-blue);
    /* text-decoration: underline; */
}

.pageLinks {
    /* background-color: var(--blue-grey); */
    height: 100%;
    padding: 5px 0 5px 0;
    border-radius: 5px;
}

.about-container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    justify-items: center;
    align-items: center;
}

.about-card {
    background-color: var(--card-color);
    border-radius: 1rem;
    padding: 1rem;

    width: 500px;

    box-shadow: 5px 4px 11px -4px rgba(59, 59, 59, 0.85);
    -webkit-box-shadow: 5px 4px 11px -4px rgba(59, 59, 59, 0.85);
    -moz-box-shadow: 5px 4px 11px -4px rgba(59, 59, 59, 0.85);

    transition: transform 500ms ease;
}

.about-card:hover {
    transform: scale(1.01);
}

.card-content {
    text-align: center;
    padding: 0.5rem;
}

.department {
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.table-container {
    overflow-x: auto;
}

.product-table {
    table-layout: fixed;
    width: 90%;
    margin: 10px auto;
    border-collapse: collapse;
}

th,
td {
    padding: 0.6em;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    color: var(--charcoal)
}

.fa:hover {
    opacity: 0.7;
}

.social-media {
    text-align: center;
    padding-top: 2rem;
}

/* .contact-main {
    background: var(--sky-blue);
} */

input,
button,
legend,
label {
    font: inherit;
}

label {
    text-transform: uppercase;
    font-size: 1rem;
}

input {
    background: var(--dust-grey);

    border: var(--charcoal-blue);
    border-radius: 15px;
    padding: 1ex 2ex;
}

input:not([type="Checkbox"]):not([type="radio"]) {
    width: 100%;
}

form {
    display: grid;
    gap: 0.5rem;

    @media (width > 720px) {
        grid-template-columns: repeat(2, 1fr);
    }
}

.contact-wrapper {
    border: 1px solid var(--dusk-blue);
    border-radius: 10px;

    background: var(--sky-reflection);
    padding: 1rem;
    margin: 0 auto;
    margin-top: 1.5rem;
    width: 80%;

    filter: drop-shadow(1px 2px 8px var(--shadow));
}

.form-group {
    display: grid;
    gap: 0.5em;
}

.form-group:has(.req-checkbox) {
    grid-column: 1 / -1;
    display: flex;
}

.req-checkbox {
    text-transform: none;
    font-size: small;
}

.button-input {
    justify-self: start;
}

.button-input>button {
    background: var(--burnt-umber);
    color: var(--white-smoke);
    padding: 0.5em;
    border-radius: 10px;
}




/* media queries */


@media (width < 550px) {
    .about-container {
        display: flex;
        flex-direction: column;
    }
}











/* old data */

/* .product-container,
.about-container {
    border: 2px solid red;

    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 500px;
}

.team-img {
    height: 200px;
    width: auto;
}

.product-card,
.about-card {
    border: 2px solid black;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}

.about-card {
    max-width: 500px;

    display: grid;

} */