@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    /* Fonts */
    --font-pt-sans: "PT Sans";
    --font-inconsolata: "Inconsolata";
    --font-montserrat: "Montserrat";

    /* Main HSL Colors */
    --bg-darker: hsl(187 25% 86%);
    --bg-dark: hsl(185 26% 88%);
    --bg: hsl(185 46% 94%);
    --bg-light: hsl(185 100% 99%);
    --text: hsl(187 100% 3%);
    --text-muted: hsl(185 20% 26%);
    --highlight: hsl(185 100% 97%);
    --border: hsl(185 12% 48%);
    --border-muted: hsl(185 14% 60%);
    --primary: hsl(184 100% 10%);
    --secondary: hsl(0 44% 32%);
    --danger: hsl(9 21% 41%);
    --warning: hsl(52 23% 34%);
    --success: hsl(147 19% 36%);
    --info: hsl(217 22% 41%);

    /* Box Shadow */
    --box-shadow: 3px 14px 32px -17px rgba(74, 74, 74, 0.42);
}

/* General style set up */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-pt-sans);
    background-color: var(--bg);
    color: var(--text);
    height: 100svh;
    height: 100vh;
    line-height: 1.5;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
}

/* Navigation at top of page */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

header h1 {
    padding: 0.75rem;
    font-size: 2.5rem;
}

.pageLinks ul {
    display: flex;
    justify-content: space-between;
}

.pageLinks ul li {
    list-style-type: none;
    padding-inline-end: 1rem;
}

.pageLinks a {
    background-color: transparent;
    text-decoration: none;
    color: var(--text-muted);
    font-weight: 500;
    padding: 0.25rem;

    transition: background-color 500ms ease,
        color 500ms ease;
}

.pageLinks a:hover {
    background-color: var(--info);
    color: var(--highlight);
    padding: 0.25rem;
    border-radius: 3px;
}

/* Overlay */

#overlay {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.overlay-wrapper {
    display: block;
    width: 90%;
    padding-block-start: 5rem;
    margin: 0 auto;
}

.overlay-body {
    background-color: var(--text);
    color: var(--highlight);

    display: flex;
    justify-content: space-between;
}

.overlay-text {
    flex-grow: 1;


    display: flex;
    flex-direction: column;
    align-items: center;
}

.overlay-text {
    align-content: center;
    padding-block: 3rem;
}

.overlay-cta {
    align-content: space-between;
    padding-block: 3rem;
    text-align: center;
}

.overlay-button {
    background-color: var(--success);
    color: var(--highlight);
    font-size: 1rem;
    padding: 0.5rem 0.75rem;
}

.overlay-button:hover {
    background-color: red;
}

.overlay-button:active {
    background-color: brown;
}

.overlay img {
    width: auto;
    height: 300px;
}

/* Social Media Links */

.fa {
    padding: 0.5rem;
    font-size: 1.5rem;
    width: 3rem;
    text-align: center;
    text-decoration: none;
    color: var(--text-muted)
}

.fa:hover {
    opacity: 0.7;
}

.social-media {
    text-align: center;
    padding-top: 4rem;
}

/* Company Image at top of page */

figure {
    display: flex;
    flex-direction: column;
    max-width: max-content;
    margin: 0 auto;
}

figure img {
    max-height: 300px;
    width: auto;
    display: inline-block;
    margin: -0.5rem auto;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

figcaption {
    background-color: var(--text);
    color: var(--bg);
    font-family: var(--font-inconsolata);
    font-size: 0.95rem;
    font-style: italic;
    font-weight: 200;
    padding: 0.25rem;
    text-align: center;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

/* Hero Text */

.main-index {
    border: 1px solid var(--border-muted);
    border-radius: 0.25rem;
    box-shadow: var(--box-shadow);
    padding: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem auto;

    background-color: var(--bg-light);

    width: 60%;
}

.main-index h2 {
    padding-block-end: 2rem;
    font-size: 2rem;
}

.main-index p {
    color: var(--text-muted);
    font-size: 1.1rem;
}

/* Footer */

footer {
    text-align: center;
    padding: 10px;
    width: 100%;
}


/* Contact Form */
input,
button,
legend,
label {
    font: inherit;
}

label {
    text-transform: uppercase;
    font-size: 1rem;
}

input {
    background: var(--bg);

    border: var(--border-muted);
    border-radius: 15px;
    padding: 1ex 2ex;
}

input[type="checkbox"],
input[type="radio"] {
    accent-color: var(--success);
}

input:not([type="Checkbox"]):not([type="radio"]) {
    width: 100%;
}

form {
    display: grid;
    gap: 0.5rem;

    @media (width > 720px) {
        grid-template-columns: repeat(2, 1fr);
    }
}

.contact-wrapper {
    border: 1px solid var(--border);
    border-radius: 10px;

    background: var(--bg-dark);
    padding: 1rem;
    margin: 0 auto;
    margin-top: 1.5rem;
    width: 80%;

    filter: drop-shadow(1px 2px 8px var(--border-muted));
}

.form-group {
    display: grid;
    gap: 0.5em;
}

.form-group:has(.req-checkbox) {
    grid-column: 1 / -1;
    display: flex;
}

.req-checkbox {
    text-transform: none;
    font-size: small;
}

.button-input {
    justify-self: start;
}

.button-input>button {
    background: var(--primary);
    color: var(--highlight);
    padding: 0.5em;
    border-radius: 10px;
}

/* Table layout */

.featured-products {
    text-align: center;
    padding: 2rem;
}

.featured-products h2 {
    font-size: 2rem;
    padding-block-end: 2rem;
}

.featured-products p {
    color: var(--text-muted);
    font-size: 1.2rem;
}

.table-container {
    /* width: min(900px, 100%); */
    padding: 3rem;
    margin-inline: auto;
}

table {
    width: 100%;
    background-color: var(--bg-dark);
    border-collapse: collapse;
    font: inherit;
}

table button {
    background-color: var(--primary);
    color: var(--highlight);
    padding: 0.25rem 0.5rem;
    border: none;
    border-radius: 3px;
}

table button:hover {
    /* reminder to do something later */
    background-color: red;
}

table button:active {
    /* reminder to do something later */
    background-color: brown;
}

td img {
    height: 200px;
    width: auto;
}

th,
td {
    padding: 1rem;
    text-align: left;
}

td {
    color: var(--text-muted)
}

th {
    background-color: var(--info);
    color: var(--highlight)
}

tr:nth-of-type(2n) {
    background-color: var(--bg-darker);
}

@media (max-width: 1020px) {
    th {
        display: none;
    }

    td {
        display: block;
        padding: 0.5rem 1rem;
    }

    td:first-child {
        padding-top: 1rem;
    }

    td:last-child {
        padding-bottom: 1rem;
    }

    td::before {
        content: attr(data-cell) ": ";
        font-weight: 700;
        text-transform: capitalize;
    }
}

/* About page */

.team {
    max-width: 250px;
    height: auto;
    display: block;
    position: relative;
    margin: 0 auto;
    border-radius: 3px;
}

.about-container {
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
}

.about-container img {
    max-height: 400px;
    width: auto;
}

.about-wrapper h3 {
    text-align: center;
    font-size: 3rem;
}

.img-card {
    display: block;
    text-align: center;
    margin: 0 auto;
}

.about-card {
    border: 1px solid var(--border);

    border-radius: 3px;
    background-color: var(--bg-light);
    color: var(--text-muted);
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding: 1rem;

    box-shadow: var(--box-shadow);
}

.name-card {
    color: var(--text);
    text-align: center;
}

.department {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}

.email,
.phone {
    text-align: center;
}

@media (min-width: 720px) {
    .about-container {
        grid-template-columns: repeat(2, 1fr);
    }
}