@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --font-open-sans: "Open Sans";
    --font-karla: "Karla";
    --lavender: #DDDBF1;
    --dark-lavender: #c7c3f7;
    --dusk-blue: #3C4F76;
    --charcoal-blue: #383F51;
    --cinnabar: #F24333;
    --gradient: linear-gradient(to bottom, #F4F6F4, #f0f3f0);
    --white-smoke: #F4F6F4;
    --alabaster-gray: #f0f3f0;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-family: var(--font-karla);
    background-repeat: no-repeat;
    background: var(--gradient);
    border-radius: 30px;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

/* for later
 https://grabient.com/HQFgDAnANMDMYA4YCYwhgVgsmIMZlhAEYYEwdgEiYB2fGCMWKY4ZsKWYYimY2qWAA2WtDbEawDLRBA?angle=0
 
 background: linear-gradient(0deg, #2e3c45 0.000%, #2d454e 3.030%, #2f5057 6.061%, #355d61 9.091%, #3c6b6b 12.121%, #477974 15.152%, #54877d 18.182%, #629585 21.212%, #73a28c 24.242%, #84ad91 27.273%, #96b796 30.303%, #a7bf99 33.333%, #b8c59a 36.364%, #c8c89a 39.394%, #d7c999 42.424%, #e3c796 45.455%, #edc391 48.485%, #f4bc8b 51.515%, #f9b484 54.545%, #faa97c 57.576%, #f99d74 60.606%, #f4906a 63.636%, #ed8261 66.667%, #e37457 69.697%, #d6664e 72.727%, #c85845 75.758%, #b74c3d 78.788%, #a64135 81.818%, #95392f 84.848%, #83322a 87.879%, #722d27 90.909%, #622b25 93.939%, #532c25 96.970%, #462f26 100.000%); */


h1 {
    font-size: 32px;
    font-family: sans-serif;
    font-family: var(--font-open-sans);
    text-align: center;
}

h2 {
    font-size: 26px;
    text-align: center;
}

h3 {
    font-size: 20px;
    font-family: sans-serif;
    font-family: var(--font-open-sans);
    color: var(--cinnabar);
}

p {
    font-size: 16px;
    font-family: sans-serif;
    font-family: var(--font-karla);
    color: var(--dusk-blue)
}

img {
    max-width: 250px;
    display: block;
    margin: auto;
}

.centered-figure {
    text-align: center;
}

figcaption {
    font-size: 0.8em;
    font-style: italic;
}

/* figure {
 display: flex;
 justify-content: space-between;
 } */

header {
    background-color: var(--lavender);
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 35px;
}

footer {
    background-color: var(--lavender);
    text-align: center;
    padding: 10px;
    width: 100%;
}

#img-overlay {
    max-width: fit-content;
    height: 600px;
    width: auto;
}

#close-overlay {
    color: var(--white-smoke);
    cursor: pointer;
    margin: 3rem 50%;
}

#overlay {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}


.main-index {
    text-align: center;
    padding: 2rem;
    margin-top: 3rem;
}

a {
    text-decoration: none;
    color: var(--charcoal-blue);
}

.team {
    padding-top: 2rem;
}

a:visited {
    text-decoration: none;
    color: var(--charcoal-blue);
}

.navigation {
    background-color: transparent;
    border-radius: 3px;
    padding: 5px;
}

.navigation:hover {
    background-color: var(--dark-lavender);
    border-radius: 3px;
    padding: 5px;
}

.navigation>a:hover {
    color: var(--charcoal-blue);
    text-decoration: underline;
}

.pageLinks {
    background-color: var(--lavender);
    height: 100%;
    padding: 5px 0 5px 0;
    border-radius: 5px;
}

.product-container,
.about-container {
    border: 2px solid red;

    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    grid-template-rows: repeat(auto, 1fr);
    grid-auto-rows: 500px;
}

.team-img {
    height: 200px;
    width: auto;
}

.product-card,
.about-card {
    border: 2px solid black;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}

.table-container {
    overflow-x: auto;
}

.product-table {
    table-layout: fixed;
    width: 90%;
    margin: 10px auto;
    border-collapse: collapse;
}

th,
td {
    padding: 0.6em;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}

.social-media {
    text-align: center;
    padding-top: 2rem;
}