body {
    font-family: Arial, sans-serif;
    border-radius: 30px;
    margin: 0 10px;
}

h1 {
    font-size: 32px;
    font-family: helvetica, arial, sans-serif;
    text-align: center;
}

h2 {
    font-size: 26px;
    text-align: center;
}

h3 {
    font-size: 20px;
    font-family: helvetica, arial, sans-serif;
    color: #feebd1;
}

p {
    font-size: 16px;
    font-family: helvetica, arial, sans-serif;
    color: #7c9bc3;
}

img {
    max-width: 250px;
    display: block;
    margin: auto;
}

.centered-figure {
    text-align: center;
}

figcaption {
    font-size: 0.8em;
    font-style: italic;
}

header {
    background-color: #f3f4f6;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 35px;
}

footer {
    background-color: #f3f4f6;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.navigation:hover {
    background-color: #000a20;
    border-radius: 3px;
    padding: 5px;
}

.navigation>a:hover {
    color: #7c9bc3;
    text-decoration: underline;
}

.pageLinks {
    background-color: #7c9bc3;
    height: 100%;
    padding: 5px 0 5px 0;
    border-radius: 5px;
}

.product-container {
    border: 2px solid red;

    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    grid-template-rows: repeat(3, 1fr);
    grid-auto-rows: 500px;
}

.product-card {
    border: 2px solid black;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}